/* You can add global styles to this file, and also import other style files */
* {
  & {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100% !important;
  }
  body {
    & {
      font: 14px "Roboto", sans-serif  !important;
      font-family: Arial, sans-serif  !important;
      background: #ecf1f8  !important;
      color: #333  !important;
      -webkit-font-smoothing: antialiased !important;
    }

    .container-body {
      & {
        display: grid !important;
        grid-template-columns: 3fr 1fr !important;
        grid-template-rows: 15vh 75vh 10vh !important;
        grid-template-areas:
          "header header"
          "main main"
          "footer footer" !important;
      }

      .o-header{
        grid-area: header;
      }

      main {
        grid-area: main;
      }

      footer {
        background: #292929;
        grid-area: footer;
      }
    }
  }
}
