<div class="container">
  <form style="margin-top:15px" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group md-12">
      <label for="titulo">Titulo:</label>
      <input
        type="text"
        class="form-control"
        id="titulo"
        formControlName="titulo"
        required
      />
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="titulo">Selecione os generos:</label>
        <select class="form-control" id="generos" #generos>
          <option></option>
          <option *ngFor="let genero of listaGeneros" [value]="genero">
            {{ genero }}</option
          >
        </select>
      </div>

      <div class="col-md-6">
        <label for="titulo">Generos selecionados:</label>
        <div></div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="dataPublicacao">Data da publicacao:</label>
        <input
          type="date"
          class="form-control"
          id="dataPublicacao"
          formControlName="dataPublicacao"
          required
        />
      </div>

      <div class="form-group col-md-6">
        <label for="paginas">Paginas:</label>
        <input
          type="number"
          class="form-control"
          id="paginas"
          formControlName="paginas"
          required
        />
      </div>
    </div>

    <div class="form-group">
      <label for="autor">Autor :</label>
      <input
        type="text"
        class="form-control"
        id="autor"
        formControlName="autor"
        required
      />
    </div>

    <div class="form-group">
      <label for="editora">Editora:</label>
      <input
        type="text"
        class="form-control"
        id="editora"
        formControlName="editora"
      />
    </div>

    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <input
        type="text"
        class="form-control"
        id="descricao"
        formControlName="descricao"
        required
      />
    </div>

    <div class="form-group">
      <label for="sinopse">Sinopse:</label>
      <textarea
        type="text"
        class="form-control"
        id="sinopse"
        row="12"
        formControlName="sinopse"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="links">Links de compra:</label>
    </div>

    <div *ngIf="form.get('links').value">
      <label>
        Links adicionados:
      </label>
      <div *ngFor="let link of form.get('links').value"></div>
    </div>

    <footer>
      <button type="submit" class="btn btn-success">Cadastrar livro</button>
    </footer>
  </form>
</div>
