<div class="container">
  <header>
    <div class="header-top">
      <div class="header-container">
        <img src="../assets/logos/logo-smartbook.jpg" />
        <div class="search">
          <input type="text" class="text-search" placeholder="Porcurar livro" aria-label="Search" />
          <button class="btn-search">Search</button>
        </div>
      </div>

    </div>
    <nav class="nav">

    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>Footer</footer>
</div>
